<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách nhóm món ăn</title>
</head>
<body>

<h2>Danh sách Nhóm Món Ăn</h2>

<a href="/admin/meal-groups/create">Thêm Nhóm Món Ăn Mới</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Nhóm</th>
            <th>Mô Tả</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="mealGroup : ${mealGroups}">
            <td th:text="${mealGroup.id}"></td>
            <td th:text="${mealGroup.groupName}"></td>
            <td th:text="${mealGroup.description}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
