<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin_layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
<title>Meal Groups</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card-style mb-30">
						<div
							class="title d-flex flex-wrap align-items-center justify-content-between">
							<div class="left">
								<h6 class="text-medium mb-30">Meal Group List</h6>
							</div>
							<div class="right">
								<a href="/admin/meal-groups/create" class="btn btn-primary">Add
									New Meal Group</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table meal-group-table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name Meal Group</th>
										<th>Description</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="mealGroup : ${mealGroups}">
										<td th:text="${mealGroup.id}"></td>
										<td th:text="${mealGroup.groupName}"></td>
										<td th:utext="${mealGroup.description}"></td>
										<td><a
											th:href="@{/admin/meal-groups/edit/{id}(id=${mealGroup.id})}"
											class="btn-edit"><i class="lni lni-pencil"></i>Edit</a> | <a
											th:href="@{/admin/meal-groups/delete/{id}(id=${mealGroup.id})}"
											onclick="return confirm('Are you sure you want to delete?');"
											class="btn-delete"><i class="lni lni-trash-can"></i>Delete</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="pagination-container">
							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									<li class="page-item"
										th:classappend="${currentPage == 1} ? 'disabled'"><a
										class="page-link"
										th:href="@{/admin/meal-groups(page=${currentPage - 1}, search=${search})}"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>
									<li class="page-item"
										th:each="page : ${#numbers.sequence(1, totalPages)}"
										th:classappend="${page == currentPage} ? 'active'"><a
										class="page-link"
										th:href="@{/admin/meal-groups(page=${page}, search=${search})}"
										th:text="${page}"></a></li>
									<li class="page-item"
										th:classappend="${currentPage == totalPages} ? 'disabled'">
										<a class="page-link"
										th:href="@{/admin/meal-groups(page=${currentPage + 1}, search=${search})}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>
