<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh Sửa Món Ăn</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Chỉnh Sửa Món Ăn</h1>
    <form action="#" th:action="@{/admin/meals/edit/{id}(id=${meal.id})}" method="post">
        <label for="mealName">Tên Món Ăn:</label>
        <input type="text" id="mealName" name="mealName" th:value="${meal.mealName}" required>
        
        <label for="mealGroupId">Nhóm Món Ăn:</label>
        <select id="mealGroupId" name="mealGroupId">
            <option th:each="group : ${mealGroups}" th:value="${group.id}" 
                th:text="${group.groupName}" 
                th:if="${group.id == meal.mealGroupId}">Đã Chọn
            </option>
        </select>

        <label for="price">Giá:</label>
        <input type="number" id="price" name="price" th:value="${meal.price}" step="0.01" required>

        <label for="description">Mô Tả:</label>
        <textarea id="description" name="description" required th:text="${meal.description}"></textarea>

        <button type="submit">Cập Nhật</button>
        <a href="/admin/meals">Trở Về</a>
    </form>
</body>
</html>
